* {
	box-sizing: border-box;
}

div {
	text-align: center;
}

img {
	height: 10vw;
	width: 10vw;
}

p {
	text-align: center;
	font-size: 3vh;
}

.hidden {
	display: none;
}

/* HEADER STYLING */

h1 {
	text-align: center;
	font-size: 8vh;
	margin: 0;
	clear: both;
}

header {
	background: pink;
	padding: 1vh;
}

#load,#save,#new {
	font-size: 3vh;
	border: 1px black solid;
	background-color: #DDDDDD;
	border-radius: 5vw;
	width: 10vw; 
	float: right;
	margin-left: 1vw;
}

/* TAMAGOTCHI STYLING */

#tamagotchi {
	height: 40vw;
	width: 40vw;
	border-radius: 10vw;
	background: none;
}

#container {
	height: 100%;
	width: 70%;
	margin: 5% auto 0 auto;
	padding: 5%;
	border-radius: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#buttons {
	margin-top: 3%;
}

.action {
	padding: 1.5vh;
	margin: 0 5px;
	/*display: none;*/
}

#action-img {
	z-index: 0;
	height: 15vh;
	width: 15vh;
}

/* STATS BAR */

.stat,#age {
	font-size: 3vh;
	margin-left: 1vw;
	/*display: none;*/
}

#stats {
	display: none;
	/*display: flex;*/
	align-items: center;
	justify-content: space-around;
	border: 1px solid black;
}
